# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
DOCUMENTATION_BACKEND_EXPLANATION.md
DOCUMENTATION_DEMO_STEPS.md
DOCUMENTATION_HOW_TO_NAVIGATE.md
DOCUMENTATION_PROJECT_STRUCTURE.md
DOCUMENTATION_QUICK_START.md

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
